.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75vw;
  /* height: 60vh; */
  /* background-color: #f5f5f5; */
  /*padding: 5vw; */
  border-radius: 15px;
  font-size: 14px;
  color: #0E1525;
  /* border: 1px solid #d2d2d2; */
}


.textSection h2 {
  font-size: 24px;
}


/* Form section */

.FormSection {
  display: flex;
  flex-direction: column;
}

.FormSection label {
  font-weight: 500;
  margin-bottom: 5px;
}

.FormSection input {
  background-color: transparent;
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 15px;
  outline: none;
}

.forgotPasswordLink {
  margin-bottom: 15px;
}

/* btn section */
.btnSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnSection button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  text-align: center;
  margin-bottom: 12px;
  border-radius: 5px;
  border: none;
  font-weight: 550;
  font-size: 14px;
}

.btnSection .btnLogin {
  background-color: #0E1525;
  color: #fff;
}

.btnSection .btnLoginGoogle {
  border: 1px solid #D2D2D2;
}

.btnSection span {
  color: #0E1525;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}