.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sheltersElement {
  width: 95vw;
}

.sheltersContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px
}

.shelter {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 15px;
  border: 1px solid #d8d8d8;
}

.shelter:hover {
  background-color: #f4f4f4;
}

.shelterName {
  margin-top: 2px;
  margin-bottom: 10px;
  font-size: 20px;
}

.containerArrowIcon {
  color: #0E1525;
  display: none;
}

.shelter:hover .containerArrowIcon {
  display: flex;
  align-items: end;
}


@media screen and (min-width: 1080px) {
  .sheltersContainer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
  }

  .shelter {
    flex-grow: 1; /* Permite que o abrigo cresça para preencher o espaço */
    flex-basis: calc(33.333% - 50px); /* Cada abrigo começa com 1/3 do espaço */
    max-width: calc(33.333% - 40px); /* Limita a largura máxima */
  }
}