.container {
  width: 28%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #CFCFCF;
}


.addressTitle {
  font-size: 1.5em;
  margin-top: 10px;
  color: #333;
  font-weight: 500;
}

.addressDetails {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}

.addressItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.addressItem label {
  font-weight: bold;
  color: #555;
}

.addressItem span {
  color: #777;
}
