.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchElement {
  width: 95vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 15px;
  margin-bottom: 15px;
}
.SearchElement input {
  width: 80%;
  height: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #d8d8d8;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.SearchElement button {
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}