.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  border: none;
  width: 75vw;
  height: 32vh;
  background-color: #FFFFFF;
}

.modalIcon img {
  width: 80px;
}

.modalText p {
  color: #0E1525;
  font-size: 15px;
  font-weight: 600;
}

