.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 10px 20px;
  background-color: #0E1525;
  color: white;
}

.logo img {
  max-width: 50px;
  filter: invert(); /* Para alterar a cor da logo */
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.menuButton {
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: #0E1525;
  color: white;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.closeButtonContainer {
  margin: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButtonContainer button {
  font-size: 20px;
  padding: 0;
}

.sideMenu ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 20px;
}

.sideMenu ul li {
  margin: 15px 0;
  text-align: center;
}

.sideMenu ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.sideMenu.open {
  left: 0;
}

@media (max-width: 767px) {
  .closeButtonContainer {
    flex-direction: row-reverse;
    margin: 20px 20px 10px 20px;
  }

  .sideMenu ul {
    margin: 10px 20px;
  }


  .sideMenu ul li {
    display: flex;
    align-items: center;
  }

  .sideMenu ul li a {
    margin-left: 15px;
  }
}


/* Estilo para desktop */
@media (min-width: 768px) {
  /* Estilo geral para o container do menu */
.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  height: 100vh;
  background-color: #0E1525;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: width 0.3s ease;
}

.container:hover {
  width: 250px; /* Aumenta o tamanho quando o hover é feito */
}

/* Estilo para a logo */
.logo img {
  max-width: 50px;
  filter: invert(); /* Para alterar a cor da logo */
}

/* Botão do menu (será oculto no desktop) */
.menuButton {
  display: none;
}

/* Estilo para o menu lateral na versão desktop */
.sideMenu {
  position: relative;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  transition: none;
}

.sideMenu nav {
  width: 100%;
}

.sideMenu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

.sideMenu ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0;
  margin-left: 23px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sideMenu ul li:hover a {
  font-weight: 600;
}



/* Inicialmente o texto está escondido fora da tela */
.sideMenu ul li a {
  display: none;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0;
  transform: translateX(-20px); /* Começa deslocado à esquerda */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Suaviza a transição */
  margin-left: 10px;
}

/* Ao fazer hover no container, os textos aparecem suavemente */
.container:hover .sideMenu ul li a {
  display: flex;
  opacity: 1;
  transform: translateX(0); /* Traz o texto para a posição correta */
}

/* Exibir o texto apenas ao passar o mouse */
.container:hover .sideMenu ul li a {
  width: fit-content;
}

/* Alinhar o texto e o ícone sem mover o ícone */
.container:hover ul li {
  justify-content: start; /* Mantém os ícones alinhados à esquerda */
}

/* Ocultar o closeButtonContainer no desktop */
.closeButtonContainer {
  display: none;
}
}
