.containerBar {
  width: 100%; 
  background-color: #e0e0e0; 
  border-radius: 5px; 
  overflow: hidden; 
  position: relative; 
}

.barContainer {
  margin-top: 12px;
  font-size: 14px;
}

.filledBar {
  padding: 5px;
  height: 12px; 
  background-color: #253761; 
  width: 0; 
  border-radius: 5px; 
  transition: width 0.3s; 
}

.textBar {
  font-size: 12px;
  color: black;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.whiteText {
  color: #fff;
}